
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Montserrat:wght@300&family=Poppins:wght@500;600&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}
table, th, td {
  border: 1px solid;
  border-collapse:collapse;
}


.MuiButton-containedPrimary {
    margin: 20px; 
}

form{
  margin-top: 20px;
}

.form-group{
  margin-top: 20px;
}
.form-group input{
  width: 400px;
}
.MuiTableHead-root{
  font-weight: bold;
  font-size: 28px;
}

.MuiTableCell-head {
  font-weight:900;
  font-size: 28px;
  line-height: 1.5rem;
}
.MuiTableCell-body {
  border-bottom: 1px solid black;
  
}

.table{
  margin:50px 300px 50px 300px;
}