*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}
table, th, td {
  border: 1px solid;
  border-collapse:collapse;
}


.MuiButton-containedPrimary {
    margin: 20px; 
}

form{
  margin-top: 20px;
}

.form-group{
  margin-top: 20px;
}
.form-group input{
  width: 400px;
}

.list-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}